


.pai{
    height: 500px;
}


.filho1{

background-color: #136af8;
display: flex;
justify-content: center;
height: 515px;



}


.menino{

    height: 260px;
    width: 330px;

    border: 100px 100px 100px 100px;
    border:solid;
    border-color: #ffffff;

}

#titulo1{
    color:#ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 26px;
}



#texto1{
    color:#ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
















.Testimonial{

    padding-left: 350px;
    padding-right: 350px;
    text-align: center;

}



.começo{

padding-top: 120px;

}


.imgcara{

    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;

    background-color: #136af8;
    text-align: center;

    

}


#texto2{
        color:#ffffff;
        height: 10px;
    }

#texto3{
        color:#ffffff;
        height: 40px;
    }

#texto4{
        color:#ffffff;
        padding-bottom: 50px;
        width: 80%;
        margin-left: 13%;
        display: flex;
        justify-content: center;
    }






.tabela{




}
#leiamais {
    background-color: black;
    border-radius: 20px ;
    width: 130px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#texto_leia {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#pai_titulo1{
    width: 420px;
}



